#container {
  padding-top: 2rem;
  padding-left: 2rem;
  background-color: #181818;
  background-image: url("../../assets/background.gif");
  background-attachment: fixed;
  min-height: 100vh;
}

#game-stage {
  background-color: #4040407c;
  backdrop-filter: blur(5px);
  height: 800px;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  overflow: hidden;
}

#game-list {
  background-color: #4040407c;
  backdrop-filter: blur(5px);
  height: auto;
  overflow: hidden !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  border-radius: 0.25rem;
}

.game-icon {
  height: 10rem;
  width: 12rem;
  border: 3px solid #333;
  border-radius: 0.5rem;
  background-size: cover;
  margin: 1rem;
  -webkit-box-shadow: 0px 0px 30px 0px #000000;
  box-shadow: 0px 0px 30px 0px #000000;
}

.game-icon p {
  height: 2rem;
  color: black;
  background-color: #ff8800;
  text-align: center;
  margin: 0;
  user-select: none;
}

.game-icon-body {
  height: 7.5rem;
  background-size: cover;
}

.fav-game-icon {
  height: 5rem;
  width: 6rem;
}

.fav-game-icon .game-icon-body {
  height: 100%;
  width: 100%;
}

.star-container {
  height: 2rem;
  width: 2rem;
  border: 2px solid #ff8800;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #333;
}

.favorite-games-list {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
  height: auto;
}

#game-container {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

#my-profile,
#favourite-games {
  margin: 0 auto;
  background-color: #404040;
  width: 95%;
  min-height: 11rem;
  padding-top: 1rem;
  color: white;
  font-family: "VT323", monospace;
  border-radius: 0.25rem;
  display: flex;
  margin-top: 1rem;
}

#sidebar-container {
  padding: 0.5rem 0;
  min-height: 50%;
  background-color: rgba(255, 166, 0, 0.5);
  width: 85%;
  justify-content: center;
  border-radius: 0.25rem;
}
h2 {
  font-family: "VT323", monospace;
}
#pfp {
  height: 75px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.row {
  flex-wrap: nowrap;
  width: 100%;
}
#profile-btns {
  height: 2rem;
  width: 9rem;
  position: absolute;
  top: 16.5rem;
}
#profile-btns:last-child {
  right: 6rem;
}
